body{
    width:100%;
    height:auto;
    margin: auto;
}
nav{
    width:100%;
    height: auto;
}
.header{
    width:100%;
    height: auto;
    background-color: white;
    display: flex;
}
.header > #logo {
    margin-left: 100px;
    margin-top: 10px;
}
.header > #car {
    margin-left: 40px;   
    margin-top: 22px; 
    border-radius: 50px;
    border:1px solid wheat;
    background-color: rgb(213, 200, 200);
}
.header > #Property {
    margin-left: 40px;   
    margin-top: 22px; 
    border-radius: 50px;
    border:1px solid wheat;
    background-color: rgb(213, 200, 200);
}
span{
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
span:hover{
 color: rgb(72, 72, 255)
}
#flush{
    width:25%;
    margin-left:120px;
    margin-top: 30px;
    border: 2px solid rgba(45, 35, 35, 0.484);
    border-radius:5px;
}
#flushdiv{
    display:flex;
}