body{
    width:1280px;
    height:auto;
    margin: auto;
}
nav{
    width:1280px;
    height: auto;
    margin: auto;
}
.header{
    width:1280px;
    height: auto;
    background-color: white;
    display: flex;
}
.header > #logo {
    margin-left: 100px;
    margin-top: 10px;
}
.header > #car {
    margin-left: 40px;   
    margin-top: 22px; 
    border-radius: 50px;
    border:1px solid wheat;
    background-color: rgb(213, 200, 200);
}
.header > #Property {
    margin-left: 40px;   
    margin-top: 22px; 
    border-radius: 50px;
    border:1px solid wheat;
    background-color: rgb(213, 200, 200);
}
span{
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
span:hover{
 color: rgb(72, 72, 255)
}
.searchbar{
    display: flex;
    margin-left: 120px;
    margin-top: 20px;
}
select{
    border:1px solid black;
    padding: 10px;
    width:290px;
    border-radius: 10px;
}
#search{
    padding-top:10px;
    padding-bottom: 10px;
    border:1px solid black;
    border-radius: 10px;
    margin-left: 10px;
}
input{
    padding-left: 20px;
}
#searchicon{
    position: absolute;
    margin-top: 7px;
    margin-left: 60px;
    padding: 20px;
}
#sell{
    background-color: whitesmoke;
    border:aquamarine 3px solid;
     font-family: "Roboto", sans-serif;
    width:100px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
